

// Process Parameters:

// Process Parameters for UmiExtract_10xGenomics:
params.UmiExtract_10xGenomics.UMIqualityFilterThreshold =  "3"  //* @input @description: "Discards reads where the UMI contains a base with a Phred score below this threshold. Default value 3, filters out the reads if UMI contains a base assigned as N."
params.UmiExtract_10xGenomics.insertSide =  "R2"  //* @dropdown @options:"R1","R2" 

// Process Parameters for SplitFastq:
params.SplitFastq.readsPerFile =  5000000  //* @input @description:"The number of reads per file"

// Process Parameters for Check_and_Build_Module_Bowtie_Index:
params.Check_and_Build_Module_Bowtie_Index.bowtie_build_parameters =  ""  //* @input

// Process Parameters for Check_and_Build_Module_Check_Build_Rsem_Index:
params.Check_and_Build_Module_Check_Build_Rsem_Index.create_bowtie_rsem_index =  "false"  //* @checkbox 
params.Check_and_Build_Module_Check_Build_Rsem_Index.create_bowtie2_rsem_index =  "false"  //* @checkbox 
params.Check_and_Build_Module_Check_Build_Rsem_Index.create_star_rsem_index =  "true"  //* @checkbox 
params.Check_and_Build_Module_Check_Build_Rsem_Index.transcript_to_gene_map =  ""  //* @input @description:"Activated when transcript_to_gene_map path is entered into this field. It will use transcript_to_gene_map file instead of gtf file (optional)"
params.Check_and_Build_Module_Check_Build_Rsem_Index.RSEM_build_parameters =  "-p 1"  //* @input 

// Process Parameters for Check_and_Build_Module_Hisat2_Index:
params.Check_and_Build_Module_Hisat2_Index.hisat2_build_parameters =  ""  //* @input

// Process Parameters for HISAT2_Module_Map_HISAT2:
params.HISAT2_Module_Map_HISAT2.HISAT2_parameters =  "-p 4"  //* @input @description:"Specify HISAT2 parameters"

// Process Parameters for Single_Cell_Module_after_HISAT2_filter_lowCount:
params.Single_Cell_Module_after_HISAT2_filter_lowCount.maxCellsForTmpFile =  500  //* @input @description:"maximum number of unique barcodes in each separated tmp file. Used for increasing performance of ESAT"

// Process Parameters for Single_Cell_Module_after_HISAT2_ESAT:
params.Single_Cell_Module_after_HISAT2_ESAT.esat_parameters =  "-task score3p -wLen 100 -wOlap 50 -wExt 1000 -sigTest .01 -multimap ignore -scPrep"  //* @input

// Process Parameters for Check_and_Build_Module_Bowtie2_Index:
params.Check_and_Build_Module_Bowtie2_Index.bowtie2_build_parameters =  ""  //* @input

// Process Parameters for Tophat2_Module_Map_Tophat2:
params.Tophat2_Module_Map_Tophat2.tophat2_parameters =  "-p 4"  //* @input @description:"Specify Tophat2 parameters"

// Process Parameters for Single_Cell_Module_after_Tophat2_filter_lowCount:
params.Single_Cell_Module_after_Tophat2_filter_lowCount.maxCellsForTmpFile =  500  //* @input @description:"maximum number of unique barcodes in each separated tmp file. Used for increasing performance of ESAT"

// Process Parameters for Single_Cell_Module_after_Tophat2_ESAT:
params.Single_Cell_Module_after_Tophat2_ESAT.esat_parameters =  "-task score3p -wLen 100 -wOlap 50 -wExt 1000 -sigTest .01 -multimap ignore -scPrep"  //* @input

// Process Parameters for Check_and_Build_Module_STAR_Index_Check_Build:
params.Check_and_Build_Module_STAR_Index_Check_Build.star_build_parameters =  ""  //* @input @description:"star build parameters" 

// Process Parameters for STAR_Module_Map_STAR:
params.STAR_Module_Map_STAR.params_STAR =  "--runThreadN 4"  //* @input @description:"Specify STAR input parameters"

// Process Parameters for Single_Cell_Module_after_STAR_filter_lowCount:
params.Single_Cell_Module_after_STAR_filter_lowCount.maxCellsForTmpFile =  500  //* @input @description:"maximum number of unique barcodes in each separated tmp file. Used for increasing performance of ESAT"

// Process Parameters for Single_Cell_Module_after_STAR_ESAT:
params.Single_Cell_Module_after_STAR_ESAT.esat_parameters =  "-task score3p -wLen 100 -wOlap 50 -wExt 1000 -sigTest .01 -multimap ignore -scPrep"  //* @input

// Pipeline Config:
$HOSTNAME='default'
//pipeline defaults
params.genome_build = "" //* @dropdown @options:"human_hg19_refseq, human_hg38_gencode_v28, mouse_mm10_refseq, rat_rn6_refseq, rat_rn6_ensembl_v86, zebrafish_GRCz11_ensembl_v95, zebrafish_GRCz11_refseq, zebrafish_GRCz11_v4.1.2, c_elegans_ce11_ws245, mousetest_mm10, custom"
params.run_Tophat = "no" //* @dropdown @options:"yes","no" @show_settings:"Map_Tophat2"
params.run_HISAT2 = "no" //* @dropdown @options:"yes","no" @show_settings:"Map_HISAT2"
params.run_STAR = "yes" //* @dropdown @options:"yes","no" @show_settings:"Map_STAR"
params.run_IGV_TDF_Conversion = "no" //* @dropdown @options:"yes","no" @show_settings:"IGV_BAM2TDF_converter"
params.run_RSeQC = "no" //* @dropdown @options:"yes","no"
params.run_Picard_CollectMultipleMetrics = "no" //* @dropdown @options:"yes","no"
params.run_BigWig_Conversion = "no" //* @dropdown @options:"yes","no"
params.run_checkAndBuild = "no" //* @dropdown @options:"yes","no"  @show_settings:"Check_Build_STAR_Index, Check_Build_Bowtie2_Index, Check_Build_Hisat2_Index, Check_Build_Rsem_Index, Check_Build_Bowtie_Index"
params.run_Split_Fastq =  "no"  //* @dropdown @options:"yes","no" @show_settings:"SplitFastq"
params.version_of_10x = "" //* @dropdown @options:"V1-2014, V2-2016, V3-2018, custom"
params.run_Single_Cell_Module = "yes" //* @dropdown @options:"yes","no" @show_settings:"filter_lowCount","ESAT"

includeConfig 'conf/base.config'
